<<section class="container">
  <div class="my-5 text-center">
    <span class="h6 d-block">PROCURANDO BABÁ PARA CUIDAR DO SEU FILHO</span>
    <h3 class="display-4 text-primary">CADASTRE-SE</h3>
  </div>
  <form class="form-signin" #f="ngForm" (ngSubmit)="cadastrarCliente(f)">
    <div class="row">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text"
                 id="inputNome"
                 name="nome"
                 [(ngModel)]="cliente.nome"
                 #nome="ngModel"
                 class="form-control"
                 placeholder="Nome Completo do Cliente">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCPF">CPF</label>
          <input type="number"
                 id="inputCPF"
                 name="CPF"
                 [(ngModel)]="cliente.CPF"
                 #CPF="ngModel"
                 class="form-control"
                 placeholder="xxx.xxx.xxx-xx">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">E-mail</label>
          <input type="email"
                 class="form-control"
                 name="email"
                 [(ngModel)]="cliente.email"
                 #email="ngModel"
                 id="inputEmail"
                 placeholder="localizababa@gmail.com">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSenha">senha</label>
          <input type="password"
                 class="form-control"
                 name="senha"
                 [(ngModel)]="cliente.senha"
                 #senha="ngModel"
                 id="inputSenha"
                 placeholder="Digite sua senha.">
        </div>
        <div class="form-group col-12">
          <label for="inputEndereco">Endereço</label>
          <input type="text"
                 id="inputEndereco"
                 name="endereco"
                 [(ngModel)]="cliente.endereco"
                 #endereco="ngModel"
                 class="form-control"
                 placeholder="Numero, nome da rua, casa..">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCidade">Cidade</label>
          <input type="text"
                 class="form-control"
                 id="inputCidade"
                 name="cidade"
                 [(ngModel)]="cliente.cidade"
                 #cidade="ngModel"
                 placeholder="Informe sua Cidade Natal..">
        </div>
        <div class="form-group col-md-3 col-6">
          <label for="inputEstado">Estado</label>
          <select id="inputEstado"
                  class="form-control"
                  name="estado"
                  [(ngModel)]="cliente.estado"
                  #estado="ngModel">
            <option>Estados</option>
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PR</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
            <option>DF</option>
          </select>
        </div>
        <div class="form-group col-md-3 col-6">
          <label for="inputCEP">Cep</label>
          <input type="text"
                 class="form-control"
                 id="inputCEP"
                  name="CEP"
                  [(ngModel)]="cliente.CEP"
                  #CEP="ngModel"
                 placeholder="Digite seu CEP..">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cadastre-se</button><br>
        <button type="button" class="btn mb-2" (click)="voltar()">Voltar</button>


      </div>

    </div>
  </form>
</section>


