<<section class="container">
  <div class="my-5 text-center">
    <span class="h6 d-block">PROCURANDO BABÁ PARA CUIDAR DO SEU FILHO</span>
    <h3 class="display-4 text-primary">CADASTRE-SE</h3>
  </div>
  <form [formGroup]="clienteForm" (ngSubmit)="OnSubmit()">
    <div class="row">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text"
                 id="inputNome"
                 formControlName="nome"
                 class="form-control"
                 placeholder="Nome Completo do Cliente">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCPF">CPF</label>
          <input type="number"
                 id="inputCPF"
                 class="form-control"
                 formControlName="CPF"
                 placeholder="xxx.xxx.xxx-xx">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">E-mail</label>
          <input type="email"
                 class="form-control"
                 id="inputEmail"
                 formControlName="email"
                 placeholder="localizababa@gmail.com">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSenha">senha</label>
          <input type="password"
                 class="form-control"
                 formControlName="senha"
                 id="inputSenha"
                 placeholder="Digite sua senha.">
        </div>
        <div class="form-group col-12">
          <label for="inputEndereco">Endereço</label>
          <input type="text"
                 id="inputEndereco"
                 class="form-control"
                 formControlName="endereco"
                 placeholder="Numero, nome da rua, casa..">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCidade">Cidade</label>
          <input type="text"
                 class="form-control"
                 id="inputCidade"
                 formControlName="cidade"
                 placeholder="Informe sua Cidade Natal..">
        </div>
        <div class="form-group col-md-3 col-6">
          <label for="inputEstado">Estado</label>
          <select id="inputEstado"
                  formControlName="estado"
                  class="form-control">
            <option>Estados</option>
            <option>RJ</option>
            <option>SP</option>
            <option>MG</option>
            <option>PE</option>
          </select>
        </div>
        <div class="form-group col-md-3 col-6">
          <label for="inputCEP">Cep</label>
          <input type="text"
                 class="form-control"
                 id="inputCEP"
                 formControlName="CEP"
                 placeholder="Digite seu CEP..">
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Cadastre-se</button><br>
        <button type="button" class="btn mb-2" (click)="voltar()">Voltar</button>


      </div>

    </div>
  </form>
</section>


