/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


body {
  padding-top: 75px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}



.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

/*#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
} */

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 2.5rem;
  }
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
  
}