<!--  Modal do cliente
<div class="modal fade" id="modalLoginCliente" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginTitulo">Entre na Sua Conta cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" class="form-control"
                   id="loginEmail"
                   name="email"
                   [(ngModel)]="cliente.email"
                   [ngClass]="{
                  'is-invalid': email.invalid && (email.dirty || email.touched),
                  'is-valid': email.valid && (email.dirty || email.touched)
               }"
                   #email="ngModel"
                   email
                   required>

            <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">

              <div *ngIf="email.errors.required">
                E-mail deve ser preenchido
              </div>

              <div *ngIf="email.errors.email">
                E-mail não está no formato correto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="loginSenha">Senha</label>
            <input type="password" class="form-control"
                   id="loginSenha"
                   name="senha"
                   [(ngModel)]="cliente.senha"
                   [ngClass]="{
                  'is-invalid': senha.invalid && (senha.dirty || senha.touched),
                  'is-valid': senha.valid && (senha.dirty || senha.touched)
               }"
                   #senha="ngModel"
                   required>

            <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
              <div *ngIf="senha.errors.required">
                Senha deve ser preenchida
              </div>

            </div>


          </div>
          <button type="submit" class="btn btn-primary" (click)="entrar()">Entrar na Conta</button>
          <small class="form-text text-muted">Esqueceu a senha? <a href="#">Clique aqui</a>.</small>
        </form>
      </div>
    </div>
  </div>
</div>
   -->
<!-- Fecha Modal do cliente  -->
<!--  Modal da babá
<div class="modal fade" id="modalLoginBaba" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLoginTitulo">Entre na Sua Conta Babá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" class="form-control"
                   id="loginEmail"
                   name="email"
                   [(ngModel)]="baba.email"
                   [ngClass]="{
                  'is-invalid': email.invalid && (email.dirty || email.touched),
                  'is-valid': email.valid && (email.dirty || email.touched)
               }"
                   #email="ngModel"
                   email
                   required>

            <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">

              <div *ngIf="email.errors.required">
                E-mail deve ser preenchido
              </div>

              <div *ngIf="email.errors.email">
                E-mail não está no formato correto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="loginSenha">Senha</label>
            <input type="password" class="form-control"
                   id="loginSenha"
                   name="senha"
                   [(ngModel)]="baba.senha"
                   [ngClass]="{
                  'is-invalid': senha.invalid && (senha.dirty || senha.touched),
                  'is-valid': senha.valid && (senha.dirty || senha.touched)
               }"
                   #senha="ngModel"
                   required>

            <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
              <div *ngIf="senha.errors.required">
                Senha deve ser preenchida
              </div>

            </div>


          </div>
          <button type="submit" class="btn btn-primary" (click)="entrar()">Entrar na Conta</button>
          <small class="form-text text-muted">Esqueceu a senha? <a href="#">Clique aqui</a>.</small>
        </form>
      </div>
    </div>
  </div>
</div>
  -->
<!-- Fecha Modal da babá  -->

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-3 box-shadow">
  <a href="index.html" class="navbar-brand">
    <img src="https://i.imgur.com/PudkuLS.png" alt="Localiza Babá">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link">Planos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contato']">Contato</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin">Login</a>
      </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginBaba">Para Babá</a>
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLoginCliente">Para Cliente</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inscreva-se</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['baba']">Para Babá</a>
          <a class="dropdown-item" [routerLink]="['cliente']">Para Cliente</a>

        </div>
      </li>

    </ul>
  </div>
</nav>
