
  <h5>Localiza Babá!</h5>


  <section class="container-fluid">
    <div class="row bg-dark text-white">

      <div class="col-lg-7 p-0">
        <div id="carouselCidades" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselCidades" data-slide-to="0" class="active"></li>
            <li data-target="#carouselCidades" data-slide-to="1">a</li>
            <li data-target="#carouselCidades" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://i.imgur.com/kUHoNMC.jpg" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Brincadeiras</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://i.imgur.com/Y7lqxUP.jpg" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Passeios</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://i.imgur.com/qsPn17I.jpg" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Educação</h3>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselCidades" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselCidades" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>

      <div class="col-lg-5 p-4 align-self-center">
        <h1 class="display-4">Comodidade e segurança para seus filhos</h1>
        <p class="lead">Localiza Babá a melhor e mais segura plataforma de serviços de babás.</p>
        <form action="">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            <span class="input-group-btn">
              <button class="btn btn-secondary btn-lg active" type="button" [routerLink]="['criar']">Inscreva-sae</button>
            </span>
          </div>
        </form>
      </div>

    </div>
  </section>

  <section class="py-5 bg-light text-center">
    <div class="container">
      <div class="my-5">
        <span class="h6 d-block">CONTRATE SEM SAIR DE CASA</span>
        <h2 class="display-4 text-primary">Segurança e praticidade</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
           
          </div>
          <h3>Descontos</h3>
          <img src="https://i.imgur.com/dbZ7PqR.png" alt="Descontos">
          <p>Mantenha-se conectado em nossa plataforma e receba descontos incríveis.</p>
          
        </div>

        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
           
          </div>
          
          <h3>Comodidade</h3>
          <img src="https://i.imgur.com/PTEM9vg.png" alt="Comodidade">
          
          <p>Contrate sua babá com segurança sem sair de casa, de onde você estiver basta acessar e chamar, simples e fácil.</p>
        </div>

        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
     
          </div>
          <h3>Praticidade</h3>
          <img src="https://i.imgur.com/NB52hAh.png" alt="Praticidade">
          <p>Seja do smartphone ou computador você contrata nossos serviços sem burocracia e facilidade, só acessar o site..</p>
        </div>

        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
          
          </div>
          <h3>Acompanhe</h3>
          <img src="https://i.imgur.com/PbkwfE3.png" alt="Acompanhe">
          <p>Você acompanha tudo que está acontecendo com seus filhos e recebe informações em seu smartphone.</p>
        </div>

        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
          
          </div>
          <h3>Pagamentos</h3>
          <img src="https://i.imgur.com/ohyf6DA.png" alt="">
          <p>Pagamento pode ser realizado pelo seu cartão de crédito.</p>
        </div>

        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
         
          </div>
          <h3>Segurança</h3>
          <img src="https://i.imgur.com/Exb67Fs.png" alt="Segurança">
          <p>A plataforma mais segura para você e seu filhos, dados pessoais criptografados para sua segurança.</p>
        </div>

      </div>

     
    </div>
  </section>

  <section id="home-quote" class="p-md-5">
    <blockquote class="blockquote text-center text-white p-md-5 p-3">
      <p style="color:black" class="display-4"><em>"É na velhice dos pais que os filhos lhe retribuem o amor e carinho."</em></p>
      <footer class="blockquote-footer text-white">Frases do Bem</footer>
    </blockquote>
  </section>

  


